{{#if successMessage}}
  <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
    {{successMessage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}
<h2 class="mb-4">
  {{title}}
</h2>
{{#if user.member}}
  <a
    href="/add-message"
    role="button"
    type="button"
    class="btn btn-primary mb-4"
  >
    Add new message
  </a>
{{/if}}
<div class="row row-cols-auto">
  {{#each messages}}
    <div class="col">
      <div class="card text-dark bg-light mb-4">
        <div class="card-body">
          <p class="card-text">
            {{this.text}}
          </p>
          <div class="d-grid justify-content-md-end">
            <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
          </div>
        </div>
        {{#if ../user.member}}
          <div class="card-footer">
            <small class="card-text text-muted">
              <i class="bi-person-fill"></i>
              {{this.user.username}}
              <br />
              <i class="bi-clock"></i>
              {{this.timeAgo}}
            </small>
          </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>